.reply-btn {
  font-size: 12px;
}

.threaded-reply-container {
  margin-left: 90px;
  position: relative;
}

.vertical-line {
  position: absolute;
  left: -30px;
  top: 0;
  bottom: 0;
  border-right: 1px solid #e0e5e8;
}

.timeline-badge {
  position: absolute;
  left: -43px;
  top: 10px;
  background-color: #F3F3F3;
  padding: 5px;
  border-radius: 999px;
}

.timeline-item.frappe-card {
  margin-top: 20px;
  position: relative;
  max-width: 700px;
  padding-block: 0 !important;
  padding-left: 0 !important;
  margin-left: 0px !important;
  border: 1px solid #ededed;

  .timeline-content {
    padding-bottom: 2px;
    margin-left: 0px !important;
  }

  .timeline-message-box {
    margin-bottom: 14px !important;
    margin: 3.5px !important;
  }

  .timeline-user {
    margin-left: 5px !important;
  }

  .avatar {
    margin-right: 3px;
  }

  hr {
    margin-top: 4px;
    margin-left: 38px;
  }

  .ql-editor.read-mode {
    padding-left: 40px;
  }
}

.edit-mode {
  display: none;
}

.reply-container {
  display: block;
  margin-top: 14px;
  margin-left: 40px;
  margin-right: 20px;
}

.reply-actions {
  margin-top: 3px;
  margin-bottom: 12px;
  display: inline-block;
}

.comment-actions {
  float: right;
  margin-left: auto;
}

.dropdown {
  display: inline-block;
}

.reply-wrapper {
  position: relative;
}

/* Smaller devicec */

@media only screen and (max-width: 600px) {
  .timeline-items {
    overflow: hidden;
  }

  .new-timeline>.timeline-items>.threaded-reply-container {
    overflow-x: scroll;
    display: flex;
    width: 85%;
    margin-left: 30px;
  }

  .new-timeline>.timeline-items>.threaded-reply-container>.vertical-line {
    width: 20%;
    flex-shrink: 0;
  }

  .threaded-reply-container {
    position: relative;
    display: flex;
  }

  .vertical-line {
    position: relative;
    flex-shrink: 0;
  }

  .reply-wrapper {
    min-width: 600px;
  }
}
